<div class="cont-<%= message.user.id %> relative mt-10 ml-20 mb-10 break-words">
  <div class="msg-<%= message.user.id %> bg-gray-800 text-white rounded-lg p-4 max-w-sm shadow-lg">
    <% unless message.room.is_private %>
      <h6 class="name text-gray-400 text-sm italic mb-2"><%= message.user.email %></h6>
    <% end %>
    <p class="text-sm leading-snug"><%= message.body %></p>
  </div>
</div>
